.form__container {
  margin: 0 auto;
  margin-top: 35px;
  max-width: 960px;
  display: flex;
  // background-color: red;
  align-items: center;
  justify-content: space-between;
}
.form__react-select-wrapper {
  display: flex;
  flex-direction: column;
}
.react-select-title {
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 6px;
}
.react-select {
  &__option {
    padding-left: 35px !important;
    cursor: pointer !important;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    &::before {
      margin-right: 5px;
      content: "";
      position: absolute;
      top: 25%;
      left: 10px;
      display: inline-block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: #fff 0 0 no-repeat;
      border: 1.5px solid rgba(23, 119, 172, 0.548);
    }
    &--is-selected {
      background-color: #ffffff !important;
      color: black !important;
      &::before {
        background: radial-gradient(
          circle,
          rgba(2, 141, 216, 1) 50%,
          rgba(255, 255, 255, 1) 50%
        );
      }
    }
    &--is-focused {
      color: #028dd8 !important;
      background-color: white !important;
      &::before {
        border: 1.5px solid #028dd8 !important;
      }
    }
  }
  &__control {
    padding-left: 10px !important;
    font-weight: 600;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    min-width: 210px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #dde1ed !important;
    cursor: pointer !important;
    &:hover {
      border: 1px solid #028dd8 !important;
    }

    &:hover .react-select__indicator {
      color: #028dd8 !important;
    }
  }
  &__indicator-separator {
    display: none;
  }
  &__menu {
    font-weight: 600;
    font-size: 14px;
    margin-top: 1px !important;
    box-shadow: 0px 0px 25px rgba(47, 54, 68, 0.25) !important;
    // &-list {
    //   padding-left: 24px !important;
    // }
  }
}

.react-select2 {
  &__option {
    padding-left: 35px !important;
    cursor: pointer !important;
    background-color: white !important;
    display: flex;
    align-items: center;
    position: relative;
    &::before {
      margin-right: 5px;
      content: "";
      position: absolute;
      top: 25%;
      left: 10px;
      display: inline-block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: #fff 0 0 no-repeat;
      border: 1.5px solid rgba(23, 119, 172, 0.548);
    }
    &--is-selected {
      background-color: #ffffff !important;
      color: black !important;
      &::before {
        background: radial-gradient(
          circle,
          rgba(2, 141, 216, 1) 50%,
          rgba(255, 255, 255, 1) 50%
        );
      }
    }
    &--is-focused {
      color: #028dd8 !important;
      background-color: white !important;
      &::before {
        border: 1.5px solid #028dd8 !important;
      }
    }
  }
  &__control {
    cursor: pointer !important;
    padding-left: 10px !important;
    font-weight: 600;
    height: 60px;
    background-color: #ffffff !important;
    display: flex;
    min-width: 325px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #dde1ed !important;
    cursor: pointer;
    &:hover {
      border: 1px solid #028dd8 !important;
    }

    &:hover .react-select2__indicator {
      color: #028dd8 !important;
    }
  }
  &__indicator-separator {
    display: none;
  }
  &__menu {
    font-weight: 600;
    font-size: 14px;
    margin-top: 1px !important;
    box-shadow: 0px 0px 25px rgba(47, 54, 68, 0.25) !important;
    // &-list {
    //   padding-left: 24px !important;
    // }
  }
}
@media (max-width: 500px) {
  .form__container {
    .react-select-title {
      display: none;
    }
    gap: 12px;
    display: grid;
    padding: 0 24px;
    justify-content: center;
    & button {
      width: 100% !important;
      height: 55px;
    }
  }
}
